# Ignore help documentation
HELP.md

# Ignore compiled output directories
out/
**/out/

# Ignore IDE and editor-specific files
.idea/
*.iml
*.iws
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# Ignore Maven and Gradle build directories
target/
.mvn/wrapper/maven-wrapper.jar
**/target/
build/
**/build/

# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore NetBeans specific files
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
